/* 
#graph-container {
    width: 1000px;
    height: 1000px;
    margin: 10px;
    padding: 10px;
} */

button {
    background-color: #0047AB;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
  }

button:hover {
background-color: #555555;
color: white;
}

#title-container
{
    background-color: #89CFF0;
    height: 5em;
    align-items: center;
    margin-top: -20px;
    padding-top: 5em;
    background-image: url('./assets/alcohol.webp'), url('./assets/school.jpg');
    background-position: right, left;
    background-repeat: no-repeat, no-repeat;
}

#martini-container {
    width: 550px;
    height: 550px;
    margin: auto;
}

#page-title
{
    /* background-color: #89CFF0; */
    background-image: url('./assets/blue.jpeg');
    background-size: 10em;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;  /* Center the text globally for the entire page. */
    flex-direction: column;  /* Items are stacked vertically */
    justify-content: center; /* Center items horizontally */
    align-items: center;     /* Center items vertically */
    height: 100vh;      /* Set body height to 100% of the viewport height */
    background-color: lightblue;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 10px;
    background: #313639;
    color: #f9f9f9;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    font-size: .7rem;
}


#pageTitle {
    font-weight: bold;
    margin-top: 40px;  /* Adds some space at the top */
}

#explanation {
    margin: 20px auto;  /* Adds vertical margin and centers the paragraph */
    max-width: 800px;  /* Limits the width to make it more readable */
    text-align: justify;  /* Justifies the paragraph content for better alignment */
}

#song-container {
    width: 1000px;
    height: 1000px;
}
